<video
    #target
    id="video-player"
    class="video-js vjs-default-skin"
    controls
    autoplay
    muted
    preload="auto"
    width="100%"
    height="100%"
>
        <!-- <source src="https://path-to-your-movie.mp4" type="video/mp4" /> -->
         <!-- <track
        kind="subtitles"
        src="/1.eng.vtt"
        srclang="en"
        label="English"
        default
    /> -->
     <!-- <track
        kind="subtitles"
        src="/1.km.vtt"
        srclang="km"
        label="Khmer"
        default
    /> -->
</video>
